name: unittest
on: [push, pull_request]

jobs:
  unittest:
    name: unittest
    strategy:
      matrix:
        zk-version: [3.6.2, 3.7.1, 3.8.0]
        go-version: [1.17.x, 1.18.x]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
            go-version: ${{ matrix.go-version }}

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 14

      - name: Checkout code
        uses: actions/checkout@v1

      - name: Test code
        run: make test ZK_VERSION=${{ matrix.zk-version }}

      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        with:
          file: ./profile.cov
